body {
  background-color: #fff;
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #2e2f42;
  margin: 0;
}

/* *,
*::after,
*::before {
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
  color: currentColor;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}
legend {
  display: none;
  padding: 0;
  margin: 0;
}
/* HEADER */
.header-address {
  margin-left: auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.header-address-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-nav-list-container {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  padding: 24px 0;
}
.header-logo-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo-span:hover,
.header-logo-span:focus {
  color: #4d5ae5;
}
.header-nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.address-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-item:hover,
.address-list-item:focus {
  color: #404bbf;
}

.link-prompt::after {
  position: absolute;
  bottom: -1px;
  /* left: 50%;
  transform: translateX(-50%); */
  left: 0;
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
}
.link-prompt {
  color: #404bbf;
}

/* HERO */

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/herobackgr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-butn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  min-width: 169px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-butn:hover,
.hero-butn:focus {
  background-color: #404bbf;
}

/* FEATURES */
.features-section {
  padding-block: 120px;
}
.features-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.features-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  height: 112px;
}
.features-icon {
  display: block;
}
/* TEAM */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-section {
  background: #f4f4fd;
  padding-block: 120px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-descr-container {
  padding: 32px 16px;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-list-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  flex-basis: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
}
.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.team-icon-link {
  display: block;
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: #f4f4fd;
  display: block;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

/* POTFOLIO */
.portf-list-item-container {
  text-align: left;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-section {
  padding-block: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portf-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portf-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-img-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overley-descr {
  padding: 40px 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overley-descr,
.portfolio-list-item:focus .portfolio-overley-descr {
  transform: translateY(0);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* Footer */

.footer-section {
  background: #2e2f42;
  padding-block: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-span:hover,
.footer-logo-span:focus {
  color: #4d5ae5;
}
.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-cos-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-icon-link {
  display: block;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: #f4f4fd;
  display: block;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-column-wrap:last-child {
  margin-left: auto;
}

.footer-column-wrap:nth-child(2n) {
  margin-left: 120px;
}
.footer-column-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
}
.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  margin-right: 24px;
  min-width: 264px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  fill: #fff;

  background: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

/* container обгортка тільки для контенту*/
.container {
  /* max-width: calc(1128px + 15px + 15px); */
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* modal */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  min-width: 408px;
  min-height: 584px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  padding: 72px 24px 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.close-icon-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color, border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  fill: #2e2f42;
}

.close-icon-btn:hover,
.close-icon-btn:focus {
  background-color: #404bbf;
  border-color: transparent;
}

.close-icon-btn:hover .close-icon,
.close-icon-btn:focus .close-icon {
  fill: #fff;
}

/* Form */

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-icon-wrap {
  position: relative;
  margin-top: 4px;
  margin-bottom: 8px;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form-input {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  padding: 11px 16px 11px 38px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  cursor: pointer;
}

.form-icon-wrap:hover {
  fill: #4d5ae5;
}
.form-icon-wrap:hover .form-input,
.form-icon-wrap:focus .form-input {
  border-color: #4d5ae5;
}

.form-icon-wrap:focus-within,
.form-icon-wrap:focus-within .form-input {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-textarea {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  padding: 11px 16px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 16px;
  height: 120px;
  overflow-y: auto;
  cursor: pointer;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  outline: transparent;
}
/* .form-textarea:hover::placeholder,
.form-textarea:focus::placeholder {
  color: #4d5ae5;
} */
.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-wrap {
  margin-bottom: 24px;
}

.form-btn {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.checkbox-custom-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  cursor: pointer;

  transition-property: background-color, border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-label .checkbox-custom-icon {
  background-color: #404bbf;
  border-color: transparent;
  fill: #f4f4fd;
}

.form-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
